* {
  margin: 0;
  padding: 0;
}

.body {
  width: 1020px;
  margin: 0 auto;

  font-family: "Lato";
}

.header {
  box-sizing: border-box;
  height: 89px;

  background-color: #2d2f39;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.text-logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 6px;
  font-family: "Lato";
  color: rgb(255,255,255);
  text-transform: uppercase;
}

.text-logo-red {
  color: rgb(240,108,100);
}

.nav {
  position: relative;
  top: 5px;

  display: flex;
  justify-content: space-between;
  width: 370px;

  font-size: 12px;
  line-height: 3px;
  font-family: "Lato";
  color: rgb(255,255,255);
  text-transform: uppercase;
}

.nav-delimiter {
  width: 3px;
  height: 3px;

  background-color: #323645;
  border-radius: 100%;
}

.nav-active {
  color: rgb(240,108,100);
}

.nav-item {
  position: relative;

  list-style: none;
  cursor: pointer;
}

.nav-item:hover {
  color: rgb(240,108,100);
}

.header-bottom-line {
  position: relative;

  width: 1020px;
  height: 6px;

  background-color: #323645;
}

/* slider */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 1020px;
  height: 606px;
  padding: 0 25px;

  background-color: #ef6c64;
}

.phone-horisontal,
.phone-vertical {
  position: relative;
  z-index: 1;

  width: 215px;
  height: 458px;

  background: url("./assets/img/base-phone.png");
}

.phone-vertical {
  top: -13px;
  left: -13px;
}

.phone-vertical::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  width: 240px;
  height: 481px;

  border-top-right-radius: 100px 50px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 50px 100px;
  box-shadow: #ce5d56 25px 25px;
  transform: scaleX(15deg);
}

.phone-horisontal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 240px;
  height: 481px;

  border-top-left-radius: 50px 100px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 100px 50px;
  box-shadow: #ce5d56 25px -25px;
  transform: scaleX(15deg);
}


.phone-horisontal {
  top: -13px;
  left: 15px;
}

.phone-horisontal {
  margin-right: 150px;
  margin-left: 150px;

  transform: rotate(90deg);
}

.phone-screen-vertical {
  position: absolute;
  top: 63px;
  left: 11px;

  width: 194px;
  height: 339px;

  background: url("./assets/img/screen-vertical-phone.png");
}

.phone-screen-horisontal {
  position: absolute;
  top: 135px;
  right: -63px;

  width: 339px;
  height: 194px;

  background: url("./assets/img/screen-horizontal-phone.png");
  transform: rotate(-90deg);
}

.arrow-left,
.arrow-right {
  width: 16px;
  height: 27px;
  padding: 20px;

  background: url("./assets/img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.arrow-right {
  transform: scale(-1, 1);
}

/*services*/
.services {
  position: relative;

  height: 495px;
  margin-bottom: 30px;
  padding: 45px 35px;

  font-size: 18px;
  color: rgb(118,126,158);

  background-color: #f1f1f1;
}

.services-title {
  margin: 18px 0;
  padding: 0 5px;

  font-weight: 800;
  font-size: 30px;
  font-family: "Lato";
  text-align: left;
  color: rgb(102,109,137);
  text-transform: capitalize;
}

.services-subtitle {
  padding: 0 5px;

  line-height: 28px;
}

.services-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 8px;
}

.services-item {
  display: flex;
  flex-grow: 10;
  justify-content: space-between;
  max-width: 314px;
  margin-top: 29px;
  padding-top: 4px;
  padding-right: 15px;
}

.services-item-title {
  padding-bottom: 4px;

  font-size: 20px;
}

.services-item-info {
  max-width: 219px;
  max-height: 90px;
  overflow: hidden;
}

.services-item-text {
  box-sizing: border-box;

  font-size: 12px;
  line-height: 6px;
}

.services-item-icon {
  width: 59px;
  height: 59px;
  margin-top: 5px;
  margin-left: 5px;
}

.bottom-line {
  position: absolute;
  bottom: 84px;

  width: 100%;
  height: 6px;

  background-color: rgb(255, 255, 255);
}

.icon-pen {
  background: url("./assets/icons/pen.png");
}

.icon-bubble {
  background: url("./assets/icons/bubble.png");
}

.icon-heart {
  background: url("./assets/icons/heart.png");
}

.icon-lamp {
  background: url("./assets/icons/lamp.png");
}

.icon-phone {
  background: url("./assets/icons/phone.png");
}

.icon-star {
  background: url("./assets/icons/star.png");
}
