* {
  margin: 0;
  padding: 0;
}

.body {
  width: 1020px;
  margin: 0 auto;
}

.header {
  height: 89px;
  box-sizing: border-box;

  background-color: #2d2f39;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 50px;
}

.text-logo {
  font-size: 25px;
  font-family: "Lato";
  font-weight: bold;
  text-align: left;

  color: rgb(255,255,255);
}

.text-logo-red {
  color: rgb(240,108,100);
}

.nav {
  display: flex;
  justify-content: space-between;

  width: 500px;
  font-size: 12px;
  line-height: 6px;
  font-family: "Lato";
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;

  color: rgb(255,255,255);
}

.nav-delimiter {
  height: 6px;
  width: 6px;
  border-radius: 100%;
  background-color: rgb(255,255,255);
}

.nav-active {
  color: rgb(240,108,100);
}

.nav-item{
  position: relative;
  list-style: none;
}

.header-bottom-line {
  position: relative;

  top: -6px;
  height: 6px;
  width: 1020px;

  background-color: #323645;
}

/* slider */

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1020px;
  height: 600px;
  box-sizing: border-box;

  padding: 30px;
  background-color: #ef6c64;
}

.phone-horisontal,
.phone-vertical {
  position: relative;
  background: url("./assets/img/base-phone.png");
  width: 215px;
  height: 458px;
}

.phone-horisontal {
  margin-left: 150px;
  margin-right: 150px;
  transform: rotate(90deg);
}

.phone-screen-vertical {
  position: absolute;
  top: 63px;
  left: 11px;
  background: url("./assets/img/screen-vertical-phone.png");
  width: 194px;
  height: 339px;
}

.phone-screen-horisontal {
  position: absolute;
  top: 135px;
  right: -63px;
  background: url("./assets/img/screen-horizontal-phone.png");
  transform: rotate(-90deg);
  width: 339px;
  height: 194px;
}

.arrow-left, 
.arrow-right {
  background: url("./assets/img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  cursor: pointer;
  width: 16px;
  height: 27px;
}

.arrow-right {
  transform: scale(-1, 1);
}