* {
  margin: 0;
  padding: 0;
}

.page {
  min-width: 360px;
  max-width: 1024px;
  margin: 0 auto;

  font-family: "Lato";
}

.portfolio {
  position: relative;

  padding: 42px;

  color: #767e9e;

  background-color: #2d303a;
}

.portfolio-header {
  margin-top: 18px;
}

.portfolio-title {
  font-weight: 600;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 1px;
}

.portfolio-subtitle {
  padding-top: 23px;

  font-size: 18px;
}

.portfolio-tag-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  list-style: none;
}

.portfolio-tag-item {
  margin-top: 5px;
  margin-right: 10px;
  padding: 3px 6px;

  font-size: 12px;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  ;
}

.portfolio-tag-item:hover,
.portfolio-tag-active {
  color: #dedede;

  border: 1px solid #dedede;
}

.portfolio-example-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px -10px 14px;
}


.portfolio-example-container {
  display: flex;
  flex-grow: 10;
  min-width: 220px;
  max-width: 300px;
  margin: 10px;
}

/*limit elements up to 12*/
.portfolio-example-container:nth-of-type(n + 13) {
  display: none;
}

.portfolio-example-item {
  width: 100%;
  padding-bottom: 85%;

  background-color: #464b5e;
}

.portfolio-bottom-line {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}
.about {
  position: relative;
  padding: 42px;

  color: #767e9e;

  background: #f2f2f2;
}

.about-header {
  margin: 23px 0;
}

.about-title {
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.about-subtitle {
  margin-top: 18px;

  font-size: 18px;
  line-height: 1.77em;
}

.about-photo-group {
  display: flex;
  justify-content: space-between;
  margin: 30px -10px 10px;
  overflow: hidden;
  overflow-x: visible;
}

.about-card-item {
  flex-grow: 10;
  min-width: 230px;
  max-width: 300px;
  margin-top: 14px;
  padding: 0 10px;
}

.fluid-picture {
  width: 100%;
  padding-bottom: 100%;
}

.about-photo {
  position: relative;

  overflow: hidden;

  background-color: #464b5e;
}

.about-card-header {
  margin: 14px 0;
  overflow: hidden;
}

.about-card-title {
  font-size: 18px;
  white-space: nowrap;
}

.about-card-subtitle {
  max-height: calc(1.77em*2);
  margin-top: 10px;
  overflow: hidden;

  font-size: 12px;
  line-height: 1.77em;
}

.icon-group {
  display: flex;
  justify-content: space-between;
  width: calc(32px*4 + 9px*3);
  height: 40px;
  margin-top: 15px;
}

.icon-item {
  position: relative;

  box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin-top: 7px;
  overflow: hidden;

  background-color: #464b5e;
  border: 1px solid #666d89;
  border-radius: 16px;
  cursor: pointer;
}

.about-bottom-line {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}


