:root {
  --responsive-ratio: 1;
  --header-height: 95px;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #4faab1;
}

.reserve-header-height {
  height: var(--header-height);
}

.header {
  position: fixed;
  z-index: 100;

  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  height: var(--header-height);

  background-color: #2d2f39;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - 6px);
  padding: 0 40px;
}

.text-logo {
  font-weight: 700;
  font-size: 25px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  z-index: 110;
}

.text-logo-red {
  color: rgb(240, 108, 100);
}

.nav {
  position: relative;
  top: 5px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 370px;

  font-size: 12px;
  line-height: 25px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.burger-menu {
  position: absolute;
  display: none;
  left: 20px;
  z-index: 110;
}

.burger-menu-active {
  transform: rotate(90deg);
}

.nav-delimiter {
  width: 3px;
  height: 3px;
  background-color: #323645;
  border-radius: 100%;
}


.nav-link {
  position: relative;

  list-style: none;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

.nav-active {
  color: rgb(240, 108, 100);
}

.nav-link:hover {
  color: rgb(240, 108, 100);
}



.header-bottom-line {
  position: relative;

  height: 6px;

  background-color: #323645;
}

/* slider */

.slider {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 606px;
  overflow: hidden;

  --responsive-ratio: calc(600/1020);
}

.slider-item {
  position: absolute;

  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.phone-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: #ef6c64;
}

.phone-container {
  position: relative;

  width: 23.6%;
  height: 80.5%;
}

.phone {
  position: absolute;

  width: 89.4%;
  height: 94.82%;

  background: url("./assets/img/base-phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-Index: 1;
}


.phone-container-vertical {
  top: -0.9%;
  left: -8%;
}

.phone-container-horisontal {
  top: -0.9%;
  left: -3.8%;

  margin-left: 14.7%;

  transform: rotate(90deg);
}

.phone-horisontal {
  bottom: 0;
}

.phone-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/img/phone-shadow.png");
  background-repeat: no-repeat;
  background-size: 100%;
  z-Index: 0;
}

.phone-shadow-horisontal {
  transform: scale(1, -1);
}

.phone-screen {
  visibility: hidden;
}

.phone-screen-active {
  visibility: visible;
}

.phone-screen-vertical {
  position: absolute;
  top: 14%;
  left: 5%;

  width: 90%;
  height: 75%;

  background: url("./assets/img/screen-vertical-phone.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.phone-screen-horisontal {
  position: absolute;
  top: 29%;
  right: -29%;

  width: 158%;
  height: 42.35%;


  background: url("./assets/img/screen-horizontal-phone.png");
  background-size: contain;
  transform: rotate(-90deg);
}

.slider-arrow {
  position: absolute;
  z-index: 10;

  width: 1.6%;
  height: 4.5%;
  padding: 2%;
  margin-top: -0.33%;

  background: url("./assets/img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: grayscale(25%);
}

.arrow-left {
  left: 2.2%;

  transform: scale(-1, 1);
}

.arrow-right {
  right: 2%;
}

/*services*/
.services {
  position: relative;

  padding: 42px 35px 43px;

  font-size: 18px;
  text-align: justify;
  color: rgb(118, 126, 158);

  background-color: #f1f1f1;
  scroll-margin-top: var(--header-height);
  overflow: hidden;
}

.services-title {
  margin: 18px 0;
  padding: 0 5px;

  font-weight: 800;
  font-size: 30px;
  font-family: "Lato";
  text-align: left;
  color: rgb(102, 109, 137);
  text-transform: capitalize;
}

.services-subtitle {
  padding: 2px 5px;

  line-height: 28px;
}

.services-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px -8px 29px 0;
}

.services-item {
  display: flex;
  flex-grow: 10;
  justify-content: space-between;
  max-width: 314px;
  margin-top: 29px;
  margin-right: 15px;
  padding-top: 4px;
}

.services-item-icon {
  width: 59px;
  height: 59px;
  margin: 5px 5px 0;
  flex-shrink: 0;
}

.services-item-title {
  padding-bottom: 5px;

  font-size: 18px;
  color: rgb(102, 109, 137);
}

.services-item-info {
  max-width: 219px;
  max-height: 90px;
  overflow: hidden;
}

.services-item-text {
  box-sizing: border-box;

  font-size: 12px;
  line-height: 6px;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: rgb(255, 255, 255);
}

.icon-pen {
  background: url("./assets/icons/pen.png");
}

.icon-bubble {
  background: url("./assets/icons/bubble.png");
}

.icon-heart {
  background: url("./assets/icons/heart.png");
}

.icon-lamp {
  background: url("./assets/icons/lamp.png");
}

.icon-phone {
  background: url("./assets/icons/phone.png");
}

.icon-star {
  background: url("./assets/icons/star.png");
}

/*singolo 2*/
.page {
  position: relative;

  min-width: 320px;
  max-width: 1020px;
  margin: 0 auto;

  font-family: "Lato";
}

.portfolio {
  position: relative;

  padding: 40px;

  color: #767e9e;

  background-color: #2d303a;
  scroll-margin-top: var(--header-height);
}

.portfolio-header {
  margin-top: 18px;
}

.portfolio-title {
  font-weight: 600;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 1px;
}

.portfolio-subtitle {
  padding-top: 20px;

  font-size: 18px;
  line-height: 1.5em;
}

.portfolio-tag-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 7px;

  list-style: none;
}

.portfolio-tag-item {
  margin-top: 5px;
  margin-right: 10px;
  padding: 3px 6px;

  font-size: 12px;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  ;
}

.portfolio-tag-item:hover,
.portfolio-tag-active {
  color: #dedede;

  border: 1px solid #dedede;
}

.portfolio-example-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 9px -10px 23px;
}



.portfolio-example-item {
  flex-grow: 10;
  max-width: 300px;
  margin: 10px;
  background-color: #464b5e;
  flex-basis: 20%;
  --responsive-ratio: 0.85;
}

.portfolio-example-item:nth-of-type(n + 13) {
  display: none;
}

.portfolio-example-active {
  box-shadow: 0 0 0 5px #f06c64;
}

.portfolio-img1 {
  background: url("./assets/img/portfolio-img1.jpeg");
  background-size: contain;
}

.portfolio-img2 {
  background: url("./assets/img/portfolio-img2.jpeg");
  background-size: contain;
}

.portfolio-img3 {
  background: url("./assets/img/portfolio-img3.jpeg");
  background-size: contain;
}

.portfolio-img4 {
  background: url("./assets/img/portfolio-img4.jpeg");
  background-size: contain;
}

.portfolio-img5 {
  background: url("./assets/img/portfolio-img5.jpeg");
  background-size: contain;
}

.portfolio-img6 {
  background: url("./assets/img/portfolio-img6.jpeg");
  background-size: contain;
}

.portfolio-img7 {
  background: url("./assets/img/portfolio-img7.jpeg");
  background-size: contain;
}

.portfolio-img8 {
  background: url("./assets/img/portfolio-img8.jpeg");
  background-size: contain;
}

.portfolio-img9 {
  background: url("./assets/img/portfolio-img9.jpeg");
  background-size: contain;
}

.portfolio-img10 {
  background: url("./assets/img/portfolio-img10.jpeg");
  background-size: contain;
}

.portfolio-img11 {
  background: url("./assets/img/portfolio-img11.jpeg");
  background-size: contain;
}

.portfolio-img12 {
  background: url("./assets/img/portfolio-img12.jpeg");
  background-size: contain;
}

.portfolio-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.about {
  position: relative;

  padding: 41px 40px;

  text-align: justify;
  color: #767e9e;

  background: #f2f2f2;
  scroll-margin-top: var(--header-height);
}

.about-header {
  margin: 20px 0;
}

.about-title {
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
}

.about-subtitle {
  margin-top: 16px;

  font-size: 18px;
  line-height: 1.7em;
}

.about-photo-group {
  display: flex;
  justify-content: space-between;
  margin: 31px -1.04% 5px;
  overflow: hidden;
}

.about-card-item {
  flex-grow: 10;
  flex-basis: 200px;
  min-width: 218px;
  max-width: 300px;
  margin: 14px 1.04%;
}


.about-photo {
  position: relative;

  overflow: hidden;

  background-color: #464b5e;
  --responsive-ratio: 1;
}

.about-img1 {
  background: url("./assets/img/About-img1.jpeg");
  background-size: contain;
}

.about-img2 {
  background: url("./assets/img/About-img2.jpeg");
  background-size: contain;
}

.about-img3 {
  background: url("./assets/img/About-img3.jpeg");
  background-size: contain;
}

.about-card-header {
  margin: 14px 0;
  overflow: hidden;
}

.about-card-title {
  overflow-x: hidden;
  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.about-card-subtitle {
  max-height: calc(1.77em*2);
  margin-top: 10px;
  margin-bottom: 15px;
  overflow: hidden;

  font-size: 12px;
  line-height: 1.77em;
}

.icon-group {
  display: flex;
  justify-content: space-between;
  width: calc(32px*4 + 8px*3);
  min-height: 32px;
}

.icon-item {
  position: relative;

  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 7px;
  overflow: hidden;

  border: 1px solid #666d89;
  border-radius: 16px;
  cursor: pointer;
}

.about-icon-group {
  margin-top: 15px;
}

.about-icon-item {
  margin-top: 7px;
}

.icon-item:hover {
  filter: invert(100%);
}


.about-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}

/*singolo3*/
.quote {
  position: relative;

  padding: 58px 40px 0;

  text-align: justify;

  background-color: #f06c64;
  scroll-margin-top: var(--header-height);
}

.quote-title {
  margin-top: 10px;

  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-subtitle {
  margin-top: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-input {
  height: 38px;
  margin-bottom: 16px;
  padding-left: 15px;

  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.quote-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f48c8f;

  opacity: 1;
}

.quote-textarea {
  height: 202px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;

  resize: none;
}

.quote-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f48c8f;

  opacity: 1;
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
  margin-top: 19px;
}

.quote-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  margin-top: 26px;
  margin-bottom: 5px;
  flex-basis: 66%;
  flex-shrink: 0;
}

.quote-button {
  width: min-content;
  margin: 15px 0;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 15px;
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 0 40px;

  font-size: 12px;
  color: #666d89;

  background-color: #2d303a;
}

.contact {
  margin-top: 26px;
  margin-left: 21px;
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  height: 22px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  line-height: 22px;
  font-family: "Lato";
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info-icon {
  width: 12px;
  height: 13px;
  margin: 0 10px 0 1px;
}

.contact-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  font-family: "Lato";
  color: #f0d8d9;
}

.contact-text {
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-bottom-line {
  background-color: #ea676b;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 400px;
  padding: 20px;

  color: #f0d8d9;

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transform: translate(-50%, -50%);
}

.darken:before {
  content: "";
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  z-index: 110;

  display: block;
  width: 100%;
  min-height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.popup-item {
  margin: 15px 0;

  color: #767e9e;
}

.popup-button {
  padding: 10px 20px;

  font-weight: 700;
  color: #e9e9e9;

  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.popup-title {
  font-weight: 700;
  font-size: 20px;
  color: #666d89;
}

.responsive-box {
  height: auto;
}

.responsive-box::before {
  padding-bottom: calc(var(--responsive-ratio)*100%);
  content: "";
  top: 0;
  height: 0;
  float: left;
  width: 1px;
  margin-left: -1px;
}

.responsive-box::after {
  content: "";
  clear: both;
}


@media screen and (max-width: 1019px) {
  .header-row-compact {
    padding: 0 40px;
    justify-content: space-between;
  }

  .portfolio-example-item {
    flex-basis: 30%;
  }

  .services-item {
    flex-basis: 50%;
    max-width: 314px;
  }

}

@media (max-width: 768px) {

  .portfolio-tag-group {
    margin-top: 11px
  }

  .services {
    padding-top: 22px;
    padding-bottom: 52px;
  }

  .services-group {
    justify-content: flex-start;
    margin: -18px -6.68% 29px 0;
  }

  .services-item {
    margin-top: 49px;
    max-width: 305px;
    margin-right: 6.68%;
  }

  .portfolio-example-group {
    margin-top: 19px;
  }

  .about {
    padding-top: 32px;
    padding-bottom: 38px;
  }

  .about-photo-group {
    margin-top: 26px;
    margin-bottom: 9px;
  }


  .about-card-header {
    margin-top: 10px;
  }

  .about-card-subtitle {
    max-height: calc(1.77em*3);
    margin: 1px 0 0 0;
  }

  .about-icon-group {
    margin-top: 5px;
  }

  .quote {
    padding-top: 52px;
    padding-bottom: 27px;
  }

  .quote-subtitle {
    margin-top: 28px;
  }

  .flex-row {
    margin-top: 0px;
  }

  .quote-input {
    margin-bottom: 12px;
  }

  .contact-text {
    margin-top: 3px;
  }

  .quote-form {
    padding-right: 15px;
    margin-top: 24px;
  }

  .contact {
    margin-top: 24px;
    margin-left: 13px;
  }

  .contact-info-group {
    margin-top: 10px;
  }

  .quote-textarea {
    height: 160px;
  }

}

@media (max-width: 767px) {
  :root {
    --header-height: 71px;
  }

  .portfolio-example-item {
    flex-basis: 33%;
    max-width: 383px;
  }

  .portfolio-example-item:nth-of-type(n + 9) {
    display: none;
  }

  .text-logo {
    font-size: 18px;
  }

  .nav {
    padding-bottom: 25px;
    top: 0;
    position: absolute;
    left: 0;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: calc((74.13% - 135px)/2);
    align-items: flex-start;
    min-height: 100vh;
    width: 74.13%;

    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    background: #2D303A;
    box-shadow: 
      0 0 0 100vw rgba(0, 0, 0, 0.4), 
      5px 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
  }

  .nav-delimiter {
    display: none;
  }

  .nav-link {
    margin-bottom: 14px;
    margin-top: 14px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  .burger-menu {
    display: inline-block;
    cursor: pointer;
  }

  .nav {
    display: none;
  }

  .header-bottom-line {
    display: none;
  }

  .header-row {
    justify-content: center;
  }

  .header-row-compact {
    padding: 0;
    padding-left: calc((74.13% - 135px)/2);
    justify-content: flex-start;
  }

  .header-mobile-nav {
    display: flex;
  }

  .services-group {
    flex-direction: column;
    align-items: center;
  }

  .services-item {
    flex-basis: 100%;
    max-width: 509px;
  }

  .services-item-icon {
    margin-right: 31px;
  }

  .services-item-info {
    max-width: 460px;
  }

  .about-photo-group {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .about-card-item {
    max-width: 441px;
    flex-basis: 100%;
  }

  .quote-button {
    width: 100%;
  }

  .footer-copyright {
    display: none;
  }

  .footer {
    justify-content: center;
  }
}

@media screen and (max-width: 375px) {
  .header {
    padding-top: 7px;
  }

  .flex-row {
    flex-direction: column;
  }

  .services {
    padding: 24px 30px 0px;
  }

  .services-title {
    margin-top: 0;
    padding: 0;
  }

  .services-subtitle {
    line-height: 1.7em;
    padding: 0;
    text-align: left;
  }

  .services-group {
    justify-content: flex-start;
    margin: -2px -6.68% 26px 0;
  }

  .services-item {
    margin-top: 22px;
  }

  .portfolio {
    padding: 24px 30px 13px;
  }

  .portfolio-subtitle {
    line-height: 1.7em;
    padding-top: 18px;
  }

  .about {
    padding: 14px 30px 8px;
  }

  .about-subtitle {
    text-align: left;
  }

  .about-header {
    margin-bottom: 1px;
  }

  .about-photo-group {
    margin-top: 19px;
  }

  .about-card-header {
    margin-top: 16px;
  }

  .about-card-subtitle {
    max-height: calc(1.77em*2);
  }

  .about-card-item {
    margin-top: 6px;
  }

  .portfolio-example-item {
    margin: 6.5px;
    max-width: 383px;
  }

  .portfolio-example-group {
    margin: 18px -6.5px 23px;
  }

  .quote {
    padding: 45px 30px 40px;
    text-align: left;
  }

  .quote-subtitle {
    margin-top: 24px;
  }

  .quote-form {
    padding-right: 0;
    margin-top: 25px;
  }

  .contact {
    margin-left: 0;
    margin-top: 23px;
  }

  .contact-text {
    margin-top: 1px;
  }

  .contact-info-group {
    margin-top: 10px;
  }

  .contact-info-item {
    margin-top: 3px;
  }

  .services-item-icon {
    margin-right: 20px;
    margin-left: 3px;
  }

  .services-item-info {
    margin-top: 4px;
  }

  .services-item-title {
    padding-bottom: 3px;
  }
}

.nav-list-active {
  display: flex;
}
