* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.reserve-header-height {
  height: 89px;
}

.header {
  position: fixed;
  z-index: 100;

  box-sizing: border-box;
  width: 100%;
  max-width: 1020px;
  height: 89px;

  background-color: #2d2f39;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;
}

.text-logo {
  font-weight: 700;
  font-size: 25px;
  line-height: 6px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.text-logo-red {
  color: rgb(240, 108, 100);
}

.nav {
  position: relative;
  top: 5px;

  display: flex;
  justify-content: space-between;
  width: 370px;

  font-size: 12px;
  line-height: 3px;
  font-family: "Lato";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.nav-delimiter {
  width: 3px;
  height: 3px;

  background-color: #323645;
  border-radius: 100%;
}


.nav-link {
  position: relative;

  list-style: none;
  color: inherit;
  text-decoration: none;

  cursor: pointer;
}

.nav-active {
  color: rgb(240, 108, 100);
}

.nav-link:hover {
  color: rgb(240, 108, 100);
}

.header-bottom-line {
  position: relative;

  height: 6px;

  background-color: #323645;
}

/* slider */

.slider {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 606px;
  overflow: hidden;
}

.slider-item {
  position: absolute;

  min-width: 100%;
  height: 100%;
  min-height: 100%;
}

.phone-group {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  background-color: #ef6c64;
}

.phone {
  position: relative;

  width: 215px;
  height: 458px;

  background: url("./assets/img/base-phone.png");
}


.phone-vertical::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;

  display: block;
  width: 240px;
  height: 481px;

  border-top-right-radius: 100px 50px;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 50px 100px;
  box-shadow: #ce5d56 25px 25px;

  pointer-events: none;
}

.phone-horisontal::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  display: block;
  width: 240px;
  height: 481px;

  border-top-left-radius: 50px 100px;
  border-top-right-radius: 27px;
  border-bottom-right-radius: 100px 50px;
  box-shadow: #ce5d56 25px -25px;

  pointer-events: none;
}

.phone-vertical {
  top: -15px;
  left: -108px;
}

.phone-horisontal {
  top: -16px;
  left: -39px;
}

.phone-horisontal {
  margin-left: 150px;

  transform: rotate(90deg);
}

.phone-screen {
  visibility: hidden;
}

.phone-screen-active {
  visibility: visible;
}

.phone-screen-vertical {
  position: absolute;
  top: 62px;
  left: 11px;

  width: 194px;
  height: 339px;

  background: url("./assets/img/screen-vertical-phone.png");
}

.phone-screen-horisontal {
  position: absolute;
  top: 134px;
  right: -63px;

  width: 339px;
  height: 194px;

  background: url("./assets/img/screen-horizontal-phone.png");
  transform: rotate(-90deg);
}

.slider-arrow {
  position: absolute;
  z-index: 10;

  width: 16px;
  height: 27px;
  padding: 20px;

  background: url("./assets/img/arrow-left.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  filter: grayscale(25%);
}

.arrow-left {
  left: 21px;

  transform: scale(-1, 1);
}

.arrow-right {
  right: 21px;
}

/*services*/
.services {
  position: relative;

  padding: 42px 35px;

  font-size: 18px;
  text-align: justify;
  color: rgb(118, 126, 158);

  background-color: #f1f1f1;
  scroll-margin-top: 89px;
}

.services-title {
  margin: 18px 0;
  padding: 0 5px;

  font-weight: 800;
  font-size: 30px;
  font-family: "Lato";
  text-align: left;
  color: rgb(102, 109, 137);
  text-transform: capitalize;
}

.services-subtitle {
  padding: 2px 5px;

  line-height: 28px;
}

.services-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px -8px 29px 0;
}

.services-item {
  display: flex;
  flex-grow: 10;
  justify-content: space-between;
  max-width: 314px;
  margin-top: 29px;
  margin-right: 15px;
  padding-top: 4px;
}

.services-item-icon {
  width: 59px;
  height: 59px;
  margin: 5px 5px 0;
}

.services-item-title {
  padding-bottom: 5px;

  font-size: 18px;
  color: rgb(102, 109, 137);
}

.services-item-info {
  max-width: 219px;
  max-height: 90px;
  overflow: hidden;
}

.services-item-text {
  box-sizing: border-box;

  font-size: 12px;
  line-height: 6px;
}

.bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: rgb(255, 255, 255);
}

.icon-pen {
  background: url("./assets/icons/pen.png");
}

.icon-bubble {
  background: url("./assets/icons/bubble.png");
}

.icon-heart {
  background: url("./assets/icons/heart.png");
}

.icon-lamp {
  background: url("./assets/icons/lamp.png");
}

.icon-phone {
  background: url("./assets/icons/phone.png");
}

.icon-star {
  background: url("./assets/icons/star.png");
}

/*singolo 2*/
.page {
  position: relative;

  min-width: 360px;
  max-width: 1020px;
  margin: 0 auto;

  font-family: "Lato";
}

.portfolio {
  position: relative;

  padding: 40px;

  color: #767e9e;

  background-color: #2d303a;
  scroll-margin-top: 89px;
}

.portfolio-header {
  margin-top: 18px;
}

.portfolio-title {
  font-weight: 600;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 1px;
}

.portfolio-subtitle {
  padding-top: 23px;

  font-size: 18px;
}

.portfolio-tag-group {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;

  list-style: none;
}

.portfolio-tag-item {
  margin-top: 5px;
  margin-right: 10px;
  padding: 3px 6px;

  font-size: 12px;

  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  ;
}

.portfolio-tag-item:hover,
.portfolio-tag-active {
  color: #dedede;

  border: 1px solid #dedede;
}

.portfolio-example-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 9px -10px 23px;
}


.portfolio-example-container {
  display: flex;
  flex-grow: 10;
  min-width: 200px;
  max-width: 300px;
  margin: 10px;
}

/*limit elements up to 12*/
.portfolio-example-container:nth-of-type(n + 13) {
  display: none;
}

.portfolio-example-item {
  width: 100%;
  padding-bottom: 85%;

  background-color: #464b5e;
}

.portfolio-example-active {
  box-shadow: 0 0 0 5px #f06c64;
}

.portfolio-img1 {
  background: url("./assets/img/portfolio-img1.jpeg");
}

.portfolio-img2 {
  background: url("./assets/img/portfolio-img2.jpeg");
}

.portfolio-img3 {
  background: url("./assets/img/portfolio-img3.jpeg");
}

.portfolio-img4 {
  background: url("./assets/img/portfolio-img4.jpeg");
}

.portfolio-img5 {
  background: url("./assets/img/portfolio-img5.jpeg");
}

.portfolio-img6 {
  background: url("./assets/img/portfolio-img6.jpeg");
}

.portfolio-img7 {
  background: url("./assets/img/portfolio-img7.jpeg");
}

.portfolio-img8 {
  background: url("./assets/img/portfolio-img8.jpeg");
}

.portfolio-img9 {
  background: url("./assets/img/portfolio-img9.jpeg");
}

.portfolio-img10 {
  background: url("./assets/img/portfolio-img10.jpeg");
}

.portfolio-img11 {
  background: url("./assets/img/portfolio-img11.jpeg");
}

.portfolio-img12 {
  background: url("./assets/img/portfolio-img12.jpeg");
}

.portfolio-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #323746;
}

.about {
  position: relative;

  padding: 40px;

  text-align: justify;
  color: #767e9e;

  background: #f2f2f2;
  scroll-margin-top: 89px;
}

.about-header {
  margin: 20px 0;
}

.about-title {
  font-size: 30px;
  color: #666d89;
  text-transform: capitalize;
}

.about-subtitle {
  margin-top: 16px;

  font-size: 18px;
  line-height: 1.7em;
}

.about-photo-group {
  display: flex;
  justify-content: space-between;
  margin: 31px -10px 19px;
  overflow: hidden;
  overflow-x: visible;
}

.about-card-item {
  flex-grow: 10;
  flex-basis: 200px;
  min-width: 219px;
  max-width: 300px;
  margin: 14px 10px;
}

.fluid-picture {
  width: 100%;
  padding-bottom: 100%;
}

.about-photo {
  position: relative;

  overflow: hidden;

  background-color: #464b5e;
}

.about-img1 {
  background: url("./assets/img/About-img1.jpeg");
  background-size: cover;
}

.about-img2 {
  background: url("./assets/img/About-img2.jpeg");
  background-size: cover;
}

.about-img3 {
  background: url("./assets/img/About-img3.jpeg");
  background-size: cover;
}

.about-card-header {
  margin: 14px 0;
  overflow: hidden;
}

.about-card-title {
  overflow-x: hidden;

  font-size: 18px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.about-card-subtitle {
  max-height: calc(1.77em*2);
  margin-top: 10px;
  margin-bottom: 15px;
  overflow: hidden;

  font-size: 12px;
  line-height: 1.77em;
}

.icon-group {
  display: flex;
  justify-content: space-between;
  width: calc(32px*4 + 8px*3);
  min-height: 32px;
}

.icon-item {
  position: relative;

  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 7px;
  overflow: hidden;

  border: 1px solid #666d89;
  border-radius: 16px;
  cursor: pointer;
}

.about-icon-group {
  margin-top: 15px;
}

.about-icon-item {
  margin-top: 7px;
}

.icon-item:hover {
  filter: invert(100%);
}


.about-bottom-line {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 6px;

  background-color: #ffffff;
}

/*singolo3*/
.quote {
  position: relative;

  padding: 58px 40px 0;

  text-align: justify;

  background-color: #f06c64;
  scroll-margin-top: 89px;
  ;
}

.quote-title {
  margin-top: 10px;

  font-weight: 900;
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-subtitle {
  margin-top: 25px;

  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-input {
  height: 38px;
  margin-bottom: 16px;
  padding-left: 15px;

  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
}

.quote-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f48c8f;

  opacity: 1;
}

.quote-textarea {
  height: 202px;
  padding-left: 15px;

  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;

  resize: none;
}

.quote-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 38px;
  font-family: "Lato";
  color: #f48c8f;

  opacity: 1;
}

.flex-row {
  display: flex;
}

.quote-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  width: 621px;
  margin-top: 46px;
  margin-bottom: 5px;
}

.quote-button {
  width: min-content;
  margin: 15px 0;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 15px;
  color: #f0d8d9;

  background-color: #d6564f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
  padding: 0 40px;

  font-size: 12px;
  color: #666d89;

  background-color: #2d303a;
}

.contact {
  margin-top: 46px;
  margin-left: 21px;
}

.contact-info-group {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.contact-info-item {
  display: flex;
  align-items: center;
  height: 22px;

  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  line-height: 22px;
  font-family: "Lato";
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info-icon {
  width: 12px;
  height: 13px;
  margin: 0 10px 0 1px;
}

.contact-title {
  font-weight: 900;
  font-size: 18px;
  line-height: 18px;
  font-family: "Lato";
  color: #f0d8d9;
}

.contact-text {
  width: 300px;
  margin-top: 10px;

  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  font-family: "Lato";
  color: #f0d8d9;
}

.quote-bottom-line {
  background-color: #ea676b;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1000;

  width: 400px;
  padding: 20px;

  color: #f0d8d9;

  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
  transform: translate(-50%,-50%);
}

.darken:before {
  content: "";
  position: fixed;
  top: 0;
  top: 0;
  left: 0;
  z-index: 110;

  display: block;
  width: 100%;
  min-height: 100%;

  background-color: rgba(0,0,0,0.5);
}

.popup-item {
  margin: 15px 0;

  color: #767e9e;
}

.popup-button {
  padding: 10px 20px;

  font-weight: 700;
  color: #e9e9e9;

  background-color: rgba(0,0,0,0.5);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.popup-title {
  font-weight: 700;
  font-size: 20px;
  color: #666d89;
}
